{{define "partials/issues"}}
<h3>Issues</h3>
<p class="text-justify">
    If you encounter any bugs or issues while using our project, please report them by submitting an
    issue on our GitHub repository. Your feedback helps us improve the project for everyone!
</p>
<a href="https://github.com/techgarage-ir/IP-Hub/issues" class="btn btn-primary ms-0 w-auto icon-link">
    <i class="bx bx-bug"></i> Submit an Issue
</a>
<br>
<p class="text-justify">
    We welcome contributions to our project! If you have code improvements, new features, or bug fixes,
    feel free to submit a pull request on GitHub. You can also raise new issues for discussion and tracking.
    Join our community and help make our project better!
</p>
<a href="https://github.com/techgarage-ir/IP-Hub/pulls" class="btn btn-secondary ms-0 w-auto icon-link">
    <i class="bx bx-git-pull-request"></i> Create Pull Request
</a>
{{end}}