{{define "partials/source"}}
<h3>Source</h3>
<p class="text-justify">
    <a href="https://IP-Hub.ir/" class="btn btn-primary ms-0 w-auto">
        <i class="bx bxs-dashboard"></i> Project Page
    </a>
    <br>
    IP-Hub is a lightweight and efficient application that provides country-specific IP address lists 
    in various formats. Perfect for developers, network administrators and security analysts who need 
    to work with geographical IP data. The tool supports both IPv4 and IPv6 addresses and AS numbers, offering easy 
    access to up-to-date IP ranges by country.<br>
    <a href="https://github.com/techgarage-ir/IPHub" class="btn btn-secondary ms-0 w-auto">
        <i class="bx bxl-github"></i> GitHub Repository
    </a>
    <br>
    The project aims to provide comprehensive and up-to-date IP address lists for every country, making it easier
    for developers and network administrators to implement geo-blocking, traffic analysis and network security solutions. <br>
    Join our community today and make a difference in the world of open-source software development!
</p>
{{end}}