.btn {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 6px;
    transition: background-color 0.3s;
}

.btn-primary {
    background-color: var(--blue-strong);
    border-color: var(--blue-strong);
}

.btn-primary:hover {
    background-color: var(--blue-vivid);
    border-color: var(--blue-vivid);
}

.btn-secondary {
    background-color: var(--blue-grayish-purplish);
    border-color: var(--blue-grayish-purplish);
}

.btn-secondary:hover {
    background-color: var(--green-dark-grayish);
    border-color: var(--green-dark-grayish);
}

.btn-success {
    background-color: var(--green-moderate-bluish);
    border: none;
}

.btn-success:hover {
    background-color: #005B5C;
}

.btn-danger {
    background-color: var(--orange-vivid-reddish);
    border: none;
}

.btn-danger:hover {
    background-color: var(--red-vivid);
}
