html[data-bs-theme="dark"] body {
    background: linear-gradient(to right, var(--blue-grayish-purplish), var(--green-dark-grayish));
    color: #ecf0f1;
}

html[data-bs-theme="dark"] .navbar {
    background-color: #34495e;
}

html[data-bs-theme="dark"] .content {
    background-color: #2f3640;
}

html[data-bs-theme="dark"] h1,
html[data-bs-theme="dark"] section h3 {
    color: var(--blue-strong);
}

/* Mobile */
@media (max-width: 768px) {
    html[data-bs-theme="dark"] .content {
        background: linear-gradient(to bottom, var(--blue-grayish-purplish), var(--green-dark-grayish));
    }
}

/* Desktop */
@media (min-width: 769px) {
    html[data-bs-theme="dark"] .nav-item:hover {
        background-color: var(--purple-vivid-reddish);
    }
}
