::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track-piece {
    background-color: #FFFFFF55;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #CBCBCB;
    outline: 1px solid #FFF;
    outline-offset: -1px;
    border: .1px solid #B7B7B7;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #909090;
}

::-webkit-scrollbar-thumb:active {
    background-color: #00000044;
}
