@import "./utility.css";
@import "./alert.css";
@import "./button.css";
@import "./code.css";
@import "./scrollbar.css";
@import "./darkmode.css";

:root {
    --blue-strong: #0067A5;
    --blue-pale: #91A3B0;
    --blue-vivid-pale: #BCD4E6;
    --blue-vivid: #1C39BB;
    --blue-grayish-purplish: #4C516D;
    --blue-vivid-purplish: #32127A;
    --brown-strong-reddish: #882D17;
    --green-grayish: #5E716A;
    --green-dark-grayish: #3A4B47;
    --green-brilliant-bluish: #00A693;
    --green-moderate-bluish: #317873;
    --orange-moderate-reddish: #CB6D51;
    --orange-grayish-reddish: #B4745E;
    --orange-vivid-reddish: #E25822;
    --orange-moderate: #D99058;
    --orange-vivid: #F38400;
    --pink-deep-purplish: #F77FBE;
    --pink-moderate-purplish: #D597AE;
    --pink-dark-purplish: #C17E91;
    --purple-vivid-reddish: #870074;
    --red-vivid-purplish: #FE28A2;
    --red-strong-purplish: #B3446C;
    --red-vivid-purplish: #CE4676;
    --red-moderate-purplish: #A8516E;
    --red-vivid: #CC3333;
}

body {
    transition: background-color 0.3s, color 0.3s;
    background: linear-gradient(to right, var(--blue-strong), var(--blue-pale));
    color: #4a4a4a;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container-fluid {
    max-height: 100vh;
}

.navbar {
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    background-color: var(--blue-strong);
}

.nav-item {
    position: relative;
    cursor: pointer;
    padding: 5px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    transition: background-color 0.3s;
    border-radius: 8px;
}

.content {
    flex-grow: 1;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    margin: 20px 0;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1,
h2 {
    display: inline-block;
}

h1 {
    color: var(--blue-vivid-purplish);
    margin-bottom: 20px;
}

h2 {
    font-size: 8pt;
}

section {
    display: none;
    width: 100%;
    max-height: 100%;
    overflow-y: auto;
}

section.active {
    display: block;
    transition: opacity 0.5s ease;
}

section h3 {
    text-align: center;
    color: var(--blue-vivid-purplish);
}

.section-container {
    height: 50vh;
    max-height: 50vh;
    overflow-y: auto;
    margin: 0;
    padding: 5px;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.button-container .btn {
    display: block;
}

input:not([type="checkbox"]):not([type="radio"]),
select {
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
    width: 100%;
}

input,
select {
    transition: border-color 0.2s ease;
    border: 1px solid #ced4da;
}

input:focus,
select:focus {
    border-color: var(--blue-vivid);
    outline: none;
}

#appResult {
    display: none;
    width: 100%;
    margin: 0;
    padding: 0;
}

#appResult #loadingSpinner {
    display: flex;
    justify-content: center;
}

#appResult .section-container pre {
    width: 100%;
    height: fit-content;
}

code[class*=language-],
pre[class*=language-] {
    text-shadow: none;
}

pre[class*=language-]>code {
    border-left: 10px solid var(--blue-strong);
    box-shadow: -1px 0 0 0 var(--blue-strong), 0 0 0 1px var(--bs-body-bg);
    background-color: var(--bs-body-bg);
    color: var(--bs-body-color);
    transition: background-color 0.3s, color 0.3s;
    text-wrap: auto;
}

/* Full width for form on mobile */
@media (max-width: 768px) {
    .container-fluid {
        margin: 0;
        padding: 0;
    }

    .content {
        width: 100%;
        padding-bottom: 60px;
        height: calc(100vh - 50px);
        margin: 0;
        overflow: hidden;
        background: linear-gradient(to bottom, var(--blue-strong), var(--blue-pale));
    }

    .navbar {
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
        position: fixed;
        left: 0;
        bottom: 0;
        box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.3);
        padding: 1rem var(--bs-navbar-padding-y);
    }

    .nav-item {
        padding: .25rem;
    }

    .nav-item.active {
        color: var(--green-brilliant-bluish);
        margin-bottom: .5rem;
    }

    .nav-item.active::after {
        content: '';
        position: absolute;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: var(--green-brilliant-bluish);
        box-shadow: 0 0 10px rgba(0, 166, 147, 0.5), 0 0 20px rgba(0, 166, 147, 0.5), 0 0 30px rgba(0, 166, 147, 0.5);
        transition: all 0.3s ease;
    }

    .nav-item:not(.active) .nav-item-title {
        display: none;
    }

    .nav-item.active i.bx {
        display: none;
    }
}

/* Mobile Landscape */
@media (orientation: landscape) {
    .navbar {
        flex-direction: column;
    }
}

/* Larger displays */
@media (min-width: 769px) {
    .content {
        max-width: 600px;
        margin: 50px auto;
        margin-top: 60px;
    }

    .btn {
        margin: 10px;
    }

    .navbar {
        top: 80px;
        border-radius: 6px;
    }

    .nav-item {
        padding: 10px 25px;
    }

    .nav-item:hover {
        background-color: var(--blue-vivid);
    }

    .nav-item i.bx {
        padding: 10px;
    }

    .nav-item.active i.bx {
        background-color: var(--green-brilliant-bluish);
        color: #34495e;
        border-radius: 5px;
    }

    .nav-item.active .nav-item-title {
        color: var(--green-brilliant-bluish);
    }

    section.active {
        margin-top: 100px;
    }
}
